[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/api/*"
  to = "https://bxtrack-backend.onrender.com/api/:splat"
  status = 200
  force = true
